<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>FormationPlus</title>

  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">FormationPlus - Génération Attestation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <form th:action="@{|/validation|}" th:object="${attestation}" method="post">
    <h2 class="mt-5">Génération de l'attestation</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="txtPrenom" class="form-control"
                 th:value="${etudiant.prenom}"/>
        </div>
        <div class="form-group">
          <input type="text" name="txtNom" class="form-control"
                 th:value="${etudiant.nom}" />
        </div>
        <div class="form-group">
          <input type="text" name="txtEmail" class="form-control"
                 th:value="${etudiant.mail}" />
        </div>
        <div class="form-group">
          <input type="text" name="txtConvention" class="form-control"
                 th:value="${convention.nom}" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="hidden" name="txtEtudiantId" class="form-control"
                 th:field="*{etudiantId}" />
          <input type="hidden" name="txtConventnionId" class="form-control"
                 th:field="*{conventionId}" />
          <textarea name="txtMsg" class="form-control" style="width: 100%; height: 200px;"
                    th:text="${attestation.message}"
                    th:field="*{message}"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="submit" name="btnSubmit" class="btn btn-secondary" value="Valider" />
        </div>
      </div>
    </div>
  </form>
  <a th:href="@{/}" class="btn btn-primary">Go back</a>
</div>

</body>
</html>