<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FormationPlus</title>
    <link th:rel="stylesheet" th:href="@{assets/select2-4.1.0-rc.0/dist/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <style>
        body{
            height: 100vh;
        }
        .container {
            height: 100%;
        }
    </style>
</head>
<body class="text-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">FormationPlus - Génération Attestation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Accueil
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5">
                <form method="post" th:object="${etudiant}" >
                    <h2 class="mt-5">Sélectionnez un étudiant</h2>
                    <div class="form-group">
                        <label for="etudiant"></label>
                        <select id="etudiant" class="form-control select2-single" th:field="*{id}">
                            <option th:each="etudiantItem : ${etudiants}" th:value="${etudiantItem.id}" th:text="${etudiantItem.nom}"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Générer</button>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/select2-4.1.0-rc.0/dist/js/select2.full.js}"></script>

    <!--<script>
        $("#etudiant").select2({
            theme: "bootstrap4",
            ajax: {
                url: '/etudiants',
                dataType: 'json',
                delay: 250,
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            }
        });
    </script>-->
</body>
</html>

<!--
<div class="container-fluid container d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-md-4">
            <p>Bienvenue sur la plateforme de génération d'attestation de <b>FormationPlus</b></p>

        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th th:text="Prenom"></th>
                    <th th:text="Nom"></th>
                    <th th:text="Mail"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="etudiant : ${etudiants}" class="col-md-4 my-1">
                    <td th:text="${etudiant.prenom}"></td>
                    <td th:text="${etudiant.nom}"></td>
                    <td th:text="${etudiant.mail}"></td>
                    <td th:text="${etudiant.convention.nom}"></td>
                    <td><a th:text="Générer" th:href="@{|/generation/${etudiant.id}|}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->
